.active {
  color: cyan;
}

img {
  maxo-width: 100%;
  border-radius: 0.5rem;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-size: 1.4rem;
}

.product {
  cursor: pointer;
  margin: 0 auto;
}